
/* Estilos para el menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cambia este color por el que prefieras */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; /* Color de fondo cuando se pasa el ratón por encima */
}

/* Estilos para el menú hamburguesa */
.menu-hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white; /* Color del icono de menú hamburguesa */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        display: block;
        text-align: left;
    }

    .menu-hamburguesa {
        display: block;
    }
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 767px) {
    .doctor {
        height: auto; 
        border-radius: 0; 
    }

    .top, .mid, .bottom {
        height: auto; 
        padding: 15px; 
    }

    .foto, .horario, .datos, .biografia, .resenna, .contacto {
        width: 100%; 
        padding: 10px; 
        border-radius: 0; 
    }

    .foto img {
        width: 100%; 
        border-radius: 0; 
    }

    .datos h1 {
        font-size: 30px; 
    }

    .datos p {
        font-size: 18px; 
    }

    .horario, .contacto {
        font-size: 20px; 
    }

    .resenna {
        width: 100%; 
        font-size: 18px;
    }

    p {
        padding-left: 10px; 
        padding-right: 10px; 
    }
}



/* Estilos para tabletas -----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .foto, .horario {
        background-color: #bcc790;
    }
    
    .datos, .biografia {
        background-color: #5d6442;
    }
    
    .datos {
        background-color: #778b23;
    }
    
    .resenna {
        background-color: #4f5f0f;
    }
    
    .contacto {
        background-color: #899c3c;
    }
    
    
    
    .doctor {
        width: 100%;
        height: 100vh; 
    }
    
    .top {
        width: 100%;
        height:33.33%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .foto {
        border-top-left-radius: 20px;
    }
    
    .horario {
        border-top-right-radius: 20px;
    }
    
    .mid {
        width: 100%;
        height: 33.33%;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .bottom {
        width: 100%;
        height: 33.33%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        align-items: center;
        align-content: center;
    }
    
    .biografia {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        align-content: center;
    }
    
    .foto img {
        border-radius: 5px;
    }
    
    .datos h1 {
        font-size: 50px;
    }
    
    .datos p {
        font-size: 25px;
    }
    
    .horario, .contacto {
        font-size: 30px;
    }
    
    .foto, .datos, .horario {
        flex: 1; 
        padding: 10px
    }
    
    .contacto, .resenna {
        flex: 1; 
        padding: 10px
    }
    
    .foto, .datos, .horario, .resenna, .contacto, .biografia  {
        height: 100%;
        align-content: center;
        font-size: 25px;
        color: #1c1f18;
    }
    
    .contacto {
        width: 33.33%;
    }
    
    .resenna {
        width: 66.66%;
        font-size: 20px;
    }
    
    p {
        padding-left: 15px;
        padding-right: 15px;
    }
    }

/* Estilos para pantallas de escritorio -----------*/
@media screen and (min-width: 1024px) {
    .foto, .horario {
        background-color: #bcc790;
    }
    
    .datos, .biografia {
        background-color: #5d6442;
    }
    
    .datos {
        background-color: #778b23;
    }
    
    .resenna {
        background-color: #4f5f0f;
    }
    
    .contacto {
        background-color: #899c3c;
    }
    
    
    
    .doctor {
        width: 100%;
        height: 100vh; 
    }
    
    .top {
        width: 100%;
        height:33.33%;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .foto {
        border-top-left-radius: 20px;
    }
    
    .horario {
        border-top-right-radius: 20px;
    }
    
    .mid {
        width: 100%;
        height: 33.33%;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .bottom {
        width: 100%;
        height: 33.33%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        align-items: center;
        align-content: center;
    }
    
    .biografia {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        align-content: center;
    }
    
    .foto img {
        border-radius: 5px;
    }
    
    .datos h1 {
        font-size: 50px;
    }
    
    .datos p {
        font-size: 25px;
    }
    
    .horario, .contacto {
        font-size: 30px;
    }
    
    .foto, .datos, .horario {
        flex: 1; 
        padding: 10px
    }
    
    .contacto, .resenna {
        flex: 1; 
        padding: 10px
    }
    
    .foto, .datos, .horario, .resenna, .contacto, .biografia  {
        height: 100%;
        align-content: center;
        font-size: 25px;
        color: #1c1f18;
    }
    
    .contacto {
        width: 33.33%;
    }
    
    .resenna {
        width: 66.66%;
        font-size: 20px;
    }
    
    p {
        padding-left: 15px;
        padding-right: 15px;
    }
    }

