body {
    background-image: url('../img/inicio_registro.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    background-color: #e3f1cf;
}

.formulario input[type="text"],
.formulario input[type="number"], 
.formulario input[type="email"] {
    border: 1px solid #f2f2f2;
}

.formulario input[type="submit"] {
    background-color: #445016;
    color: #fff;
}

.formulario input[type="submit"]:hover {
    background-color: #64771a;
}
/* Estilos para el menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cambia este color por el que prefieras */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; /* Color de fondo cuando se pasa el ratón por encima */
}

/* Estilos para el menú hamburguesa */
.menu-hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white; /* Color del icono de menú hamburguesa */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        display: block;
        text-align: left;
    }

    .menu-hamburguesa {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .contenido {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 10px;
    }

    .direccion {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #fff;
        margin-bottom: 20px;
    }

    .direccion p {
        padding: 10px;
    }

    .direccion iframe {
        border-radius: 20px;
        width: 70%;
        height: 70%;
    }

    .formulario {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        background-color: #f2f2f2;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 70%;
    }

    .formulario input,
    .formulario select,
    .formulario button {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contenido {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 10px;
    }

    .direccion {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        color: #fff;
        margin-bottom: 20px;
    }

    .direccion p {
        padding: 10px;
    }

    .direccion iframe {
        border-radius: 20px;
        width: 70%;
        height: 70%;
    }

    .formulario {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
        background-color: #f2f2f2;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 70%;
    }

    .formulario input,
    .formulario select,
    .formulario button {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        text-align: center;
    }

    .contenido {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 10px;
    }

    .articulos {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
    }

    .direccion {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #fff;
    }

    .direccion {
        margin-bottom: 20px;
    }

    .direccion iframe {
        border-radius: 20px;
    }

    .formulario {
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 20px;
    }
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="email"],
.formulario input[type="submit"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario textarea {
    resize: none;
    height: 100px;
}

.formulario input[type="submit"] {
    background-color: #445016;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.formulario input[type="submit"]:hover {
    background-color: #64771a;
}
