/*Colores*/

body {
    background-image: url('../img/fondoIndex.png');
    background-size: cover; 
    background-repeat: no-repeat; 

}


.carousel-inner img {
    box-shadow: 0 6px 6px rgb(75, 74, 74);
    border-radius: 10px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.descripcion {
    background-color: rgba(255, 255, 255, 0.7); /* 50% de transparencia */
    border-radius: 20px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.hoja1 img {
    width: 70px; 
    height: 35px; 
    position: fixed;
    top: -50px; 
    left: calc(50% - 25px); 
    animation: caidaHoja 45s linear infinite; 
}

.hoja2 img {
    width: 70px; 
    height: 35px; 
    position: fixed;
    top: -50px; 
    left: calc(85% - 25px); 
    animation: caidaHoja 30s linear infinite; 
}

.hoja3 img {
    width: 70px; 
    height: 35px; 
    position: fixed;
    top: -50px; 
    left: calc(22% - 25px); 
    animation: caidaHoja 25s linear infinite; 
}

@keyframes caidaHoja {
    0% {
        transform: translateY(-50px) translateX(80px); /* Inicialmente arriba y sin desplazamiento horizontal */
    }
    5% {
        transform: translateY(5vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    10% {
        transform: translateY(10vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    15% {
        transform: translateY(15vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    20% {
        transform: translateY(20vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    25% {
        transform: translateY(25vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    30% {
        transform: translateY(30vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    35% {
        transform: translateY(35vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    40% {
        transform: translateY(40vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    45% {
        transform: translateY(45vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    50% {
        transform: translateY(50vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    55% {
        transform: translateY(55vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    60% {
        transform: translateY(60vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    65% {
        transform: translateY(65vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    70% {
        transform: translateY(70vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    75% {
        transform: translateY(75vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    80% {
        transform: translateY(80vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    85% {
        transform: translateY(85vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    90% {
        transform: translateY(90vh) translateX(80px); /* A la mitad del recorrido, mover a la derecha */
    }
    95% {
        transform: translateY(95vh) translateX(-80px); /* A la mitad del recorrido, mover a la derecha */
    }
    100% {
        transform: translateY(100vh) translateX(80px); /* Al final, abajo y mover a la izquierda */
    }
    105% {
        transform: translateY(105vh) translateX(-80px); /* Al final, abajo y mover a la izquierda */
    }
    110% {
        transform: translateY(110vh) translateX(80px); /* Al final, abajo y mover a la izquierda */
    }
}


/*Medidas para teléfonos*/
@media screen and (max-width: 767px) {
    .contenido {
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .articulo {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .descripcion {
        font-size: 1.5em;
        margin: 20x;
        padding: 20px;
    }

    .carousel {
        position: relative;
       
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-inner img {
        margin: 0;
        max-width: 32%;
        height: auto;
    }

    .slide {
        flex: 0 0 100%;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 10px;
        cursor: pointer;
    }

}

/*Medidas para tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contenido {
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .articulo {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .descripcion {
        display: flex;
        align-items: center;
        padding: 40px;
        font-size: 1.5em;
    }

    .carousel {
        position: relative;
        overflow: hidden;
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-inner img {
        margin: 0;
        max-width: 30%;
        height: auto;
    }

    .slide {
        flex: 0 0 100%;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 10px;
        cursor: pointer;
    }

}

/*Medidas para pantallas*/
@media screen and (min-width: 1024px) {

    header img {
        width: 50%;
        height: auto 0;
    }

    .contenido {
        display: flex;
        margin-top: 60px;
        margin-bottom: 60px;

    }

    .articulos {
        margin: 0 auto;
        padding: 20px;
        justify-content: center;
    }

    .descripcion {
        border-radius: 20px;
        padding: 70px;
        font-size: 1.5em;
        margin-top: 20px;
        width: 50%; 
        margin: 0 auto; 
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    

    .carousel {
        position: relative;
        overflow: hidden;
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
    }

    .carousel-inner img {
        margin-right: 100px;
        max-width: 33%;
    }

    .slide {
        flex: 0 0 100%;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 10px;
        cursor: pointer;
    }

}