body {
    background-image: url('../img/inicio_registro.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.politicas {
    width: 100%;
    border-radius: 20px;
    background-color: rgba(126, 168, 113, 0.5);
    padding: 20px;
    text-align: center;
}

.politicas h2 {
    margin-top: 20px;
}

.politicas p {
    padding: 20px;
}

.contenido input[type="submit"] {
    background-color: rgb(0, 73, 83);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contenido input[type="submit"]:hover {
    background-color: rgb(0, 178, 178);
}

/* Estilos para el menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cambia este color por el que prefieras */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; /* Color de fondo cuando se pasa el ratón por encima */
}

/* Estilos para el menú hamburguesa */
.menu-hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white; /* Color del icono de menú hamburguesa */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        display: block;
        text-align: left;
    }

    .menu-hamburguesa {
        display: block;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .contenido {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .politicas {
        width: 100%;
        border-radius: 20px;
        background-color: rgba(126, 168, 113, 0.5);
        padding: 20px;
        text-align: center;
    }

    .politicas h2 {
        margin-top: 20px;
    }

    .politicas p {
        padding: 20px;
    }

    .contenido input[type="submit"] {
        background-color: rgb(0, 73, 83);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contenido input[type="submit"]:hover {
        background-color: rgb(0, 178, 178);
    }
}

@media screen and (min-width: 1024px) {
    .contenido {
        width: 60%;
        margin: 0 auto;
        padding: 50px;
        justify-content: center;
    }

    .politicas {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: rgba(126, 168, 113, 0.5);
    }

    .politicas h2 {
        margin-top: 100px;
    }

    .politicas p {
        padding: 60px;
    }

    .contenido input[type="submit"] {
        background-color: rgb(0, 73, 83);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 20px;
    }

    .contenido input[type="submit"]:hover {
        background-color: rgb(0, 178, 178);
    }
}
