
body {
    background-image: url('../img/inicio_registro.png');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
    /* Otros estilos si los necesitas */
}

/* Estilos para pantallas más pequeñas, como celulares */
@media screen and (max-width: 767px) {}


/* Estilos para tabletas -----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* Estilos para pantallas de escritorio -----------*/
/* Estilos para pantallas de escritorio */
@media screen and (min-width: 1024px) {
    .contenido {
        width: 60%; /* Definir un ancho para el contenido */
        margin: 0 auto; /* Esto centrará horizontalmente el contenido */
        padding: 50px;
        justify-content: center; /* Centra horizontalmente el contenido */
    }

    .politicas {
        width: 100%; /* Utilizar el 100% del ancho del contenedor */
        height: 100%;
        border-radius: 20px;
        background-color: rgba(126, 168, 113, 0.5); /* 50% de transparencia */
    }

    .politicas h2 {
        margin-top: 100px;
    }

    .politicas p {
        padding: 60px;
    }

    .contenido input[type="submit"] {
        background-color: rgb(0, 73, 83);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: 20px;
    }

    .contenido input[type="submit"]:hover {
        background-color: rgb(0, 178, 178);
    }
}
