.contenido {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.articulos {
    width: 100%;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap; /* Hacer que los elementos se envuelvan */
    justify-content: center;
}

/* Establecer las propiedades para los elementos de las preguntas */
.pregunta {
    width: calc(50% - 20px); /* Calcula el ancho de cada pregunta */
    margin: 10px; /* Margen entre los elementos */
    height: calc(40% - 20px); /* Calcula el 50% de la altura menos el margen */
    background-color: gray;
    border-radius: 20px;
    text-align: center;
}

.pregunta p {
    margin: 20px;
    justify-content: center;
}

.respuesta {
    display: none; /* Oculta la respuesta por defecto */
    padding: 10px;
    background-color: #f0f0f0;
    margin-top: 10px;
    border: 1px solid #ccc;
    width: 100%;
    height: 70%;

}

.respuesta p {
    margin: 40px;
}

.oculto {
    display: none !important; /* Asegura que la respuesta esté oculta incluso si se establece de otra manera en el HTML */
}
