body {
    background-image: url('../img/inicio_registro.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Estilos para pantallas más pequeñas, como celulares */
@media screen and (max-width: 767px) {

    /* Estilos generales */
    .contenido {
        height: 90vh;
        font-size: 10px;
    }

    .articulos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* Estilos para las preguntas */
    .pregunta {
        width: 90%;
        margin: 5px auto;
        height: 150px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pregunta p {
        margin: 10px;
    }

    /* Estilos para la respuesta (visible al hacer hover) */
    .respuesta {
        display: none;
        margin: 5px auto;
        text-align: center;
        width: 100%;
        height: 50%;

    }

    /* Estilos para el hover */
    .pregunta:hover {
        box-shadow: inset 0 1000px 0 0 #a1af28;
    }

    .pregunta:hover h2 {
        transition: ease-out 1.5s;
    }

    .pregunta:hover .respuesta {
        display: block;
    }

    h2 {
        margin: 15px;
        margin-top: 10px;
    }

}


/* Estilos para tabletas -----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* Estilos generales */
    .contenido {
        height: 90vh;
        font-size: 10px;
    }

    .articulos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    /* Estilos para las preguntas */
    .pregunta {
        width: 90%;
        margin: 5px auto;
        height: 150px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pregunta p {
        margin: 10px;
    }

    /* Estilos para la respuesta (visible al hacer hover) */
    .respuesta {
        display: none;
        margin: 5px auto;
        text-align: center;
        width: 100%;
        height: 50%;

    }

    /* Estilos para el hover */
    .pregunta:hover {
        box-shadow: inset 0 1000px 0 0 #a1af28;
    }

    .pregunta:hover h2 {
        transition: ease-out 1.5s;
    }

    .pregunta:hover .respuesta {
        display: block;
    }

    h2 {
        margin: 15px;
        margin-top: 10px;
    }
}

/* Estilos para pantallas de escritorio -----------*/
@media screen and (min-width: 1024px) {
    .contenido {
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    .articulos {
        width: 100%;
        height: 100%;
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        /* Hacer que los elementos se envuelvan */
        justify-content: center;
    }

    .pregunta {
        width: calc(40% - 20px);
        margin: 10px;
        height: calc(40% - 20px);
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 30px;
        text-align: center;
    }

    .pregunta p {
        margin: 20px;
        margin-top: 60px;
        text-align: center;
    }

    .pregunta:hover {
        transition: ease-out 1.0s;
        box-shadow: inset 0 1000px 0 0 #a1af28;
    }

    .pregunta:hover h2 {
        margin: 30px;
        margin-top: 20px;
        transition: ease-out 0.5s;
    }

    .pregunta:hover .respuesta {
        display: block;
    }

    .respuesta {
        display: none;
        padding: 10px;
        text-align: cente;
        width: calc(100% - 50px);
        height: 40%;
        text-align: center;
    }

    h2 {
        margin: 30px;
        margin-top: 100px;
    }
}