/*Colores*/

h2 {
    color: #445016;
}


.formulario {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    background-color: #e3f1cf;
}

.formulario input[id="usuario"] {
    border: 1px solid #f2f2f2;
}

.formulario input[type="submit"] {
    background-color: #445016;
    color: #fff;
}

.formulario input[type="submit"]:hover {
    background-color: #64771a;
}

.inicioSesion a {
    color: #445016;
}

.inicioSesion a:hover {
    color: white;
}

/* Estilos para pantallas más pequeñas, como celulares */
@media screen and (max-width: 767px) {
    h2 {
        text-align: center;
    }

    .contenido {
        height: 900px;
    }

    .formulario {

        width: 300px;
        margin: 0 auto;
        border-radius: 20px;
        padding: 20px;
        margin-top: 70px;
    }

    .formulario input[id="usuario"] {

        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 4px;
        box-sizing: border-box;

    }

    .formulario input[type="submit"] {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

}

/* Estilos para tabletas -----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h2 {
        text-align: center;
    }

    .contenido {
        height: 900px;
    }

    .formulario {
        width: 400px;
        margin: 0 auto;
        border-radius: 20px;
        padding: 20px;
        margin-top: 100px;
    }

    .formulario input[id="usuario"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .formulario input[type="submit"] {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

}

/* Estilos para pantallas de escritorio -----------*/
@media screen and (min-width: 1024px) {
    h2 {
        text-align: center;
    }

    .contenido {
        height: 900px;
    }

    .formulario {
        width: 400px;
        margin: 0 auto;
        border-radius: 20px;
        padding: 20px;
        margin-top: 50px;
    }

    .formulario input[id="usuario"] {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .formulario input[type="submit"] {
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }

}