

img {
    border-radius: 100%;
}

/* Estilos para el menú */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Cambia este color por el que prefieras */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111; /* Color de fondo cuando se pasa el ratón por encima */
}

/* Estilos para el menú hamburguesa */
.menu-hamburguesa {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white; /* Color del icono de menú hamburguesa */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 767px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        display: block;
        text-align: left;
    }

    .menu-hamburguesa {
        display: block;
    }
}


/* Estilos para pantallas más pequeñas, como celulares */
@media screen and (max-width: 767px) {

.contenido {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 10px;
}

.articulos {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.disponibilidad,
.tiposCitas,
.serviciosCitas {
    width: 100%;
    height: 100vh;
    padding: 5px;
    color: #fff;
}

.disponibilidad {
    background-color: #445016;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tiposCitas {
    background-color: #73862a;
}

.serviciosCitas {
    background-color: #445016;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


}

/* Estilos para tabletas -----------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .contenido {
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin: 10px;
    }
    
    .articulos {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding-left: 5px;
        padding-right: 5px;
    }

    .disponibilidad,
    .tiposCitas,
    .serviciosCitas {
        width: 100%;
        height: 100vh;
        padding: 5px;
        color: #fff;
    }
    
    .disponibilidad {
        background-color: #445016;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    .tiposCitas {
        background-color: #73862a;
    }
    .serviciosCitas {
        background-color: #445016;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    

}

/* Estilos para pantallas de escritorio -----------*/
@media screen and (min-width: 1024px) {

    .contenido {
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin: 10px;
    }

    .articulos {
        display: flex;
        flex-direction: row;
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
    }

    .disponibilidad,
    .tiposCitas,
    .serviciosCitas {
        width: 100%;
        height: 100vh;
        padding: 50px;
        color: #fff;
    }


    .disponibilidad {
        background-color: #445016;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .tiposCitas {
        background-color: #73862a;
    }

    .serviciosCitas {
        background-color: #445016;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }
}